.skeleton {
	background: linear-gradient(90deg, #cacaca 25%, #aaaaaa 50%, #cacaca 75%);
	background-size: 200% 100%;
	animation: loading 1.5s infinite;
}

@keyframes loading {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

/* custom-styles.css */

.custom-element {
  transition: width 300ms ease-in-out;
	filter: none
}

.custom-element:hover {
  width: calc(15/16 * 100%);
	filter: none
}

.custom-element:hover .custom-element:not(:hover) {
  width: calc(1/8 * 100%);
	filter: blur(2px)
}

/* #second {
	background-image: url("./assets/other/food7.jpeg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
